#S3
variable "single-bucket" {
    description = "S3 bucket for artifact repository"
    default = "bucket-name"
}

#account
variable "accounts" {
    default = [
        "arn:aws:iam::aws-id:root",
        "arn:aws:iam::aws-d:root",
    ]
}

# iam-user-shared-reader
variable "iam-user-s3-reader" {
    description = "iam user for S3 read access "
    default = ""
}
variable "policy-s3-reader" {
    default = ""
}

# role-reader-developers
variable "role-developers-get-credentials" {
    default = ""
}
variable "policy-get-credentials-parameter-store" {
    default = ""
}
variable "resource-ssm-credentials" {
    default = ""
}

# role-lambda
variable "lambda-role-name" {
    default = ""
}
variable "policy-store-credentials-name" {
    default = ""
}
variable "policy-rotate-keys-name" {
    default = ""
}

#provider
variable "aws-region" {
	default = ""
}
variable "aws-access-key" {
	default = ""
}
variable "aws-secret-key" {
	default = ""
}
variable "aws-version" {
    default = ""
}

# lambda function
variable "region" {
    description = "define which region your AWS account is"
    default = ""
}
variable "lambda-function-name" {
    default = ""
}
variable "lambda-time-out" {
    default = ""
}
variable "lambda-runtime" {
    default = ""
}

# cloud-watch-event
variable "cloud-watch-rule-name" {
    default = ""
}
variable "cloud-watch-cron" {
    default = ""
}
