variable "bucket" {
    default = ["bucekt-name1","bucekt-name2","bucekt-name3"]
}

variable "users" {
    default = [
        "arn:aws:iam::AWS_ID:root",
        "arn:aws:iam::AWS_ID:root"
    ]
}

# cloud watch event to trigger lambda
variable "cloud-watch-rule-name" {
    default = ""
}
variable "cloud-watch-cron" {
    default = ""
}

# lambda-function-variables
variable "region" {
    description = "define which region your AWS account is"
    default = ""
}

variable "lambda-function-name" {
    default = ""
}

# credentials
variable "aws_region" {
	default = ""
}

variable "aws_access_key" {
	default = ""
}
variable "aws_secret_key" {
	default = ""
}

#role-lambda-variables
variable "lambda-role-name" {
    default = ""
}

variable "store-credentials-policy-name" {
    default = ""
}
